USE [master]
GO
/****** Object:  Database [LibraryApp]    Script Date: 5/07/2021 4:55:53 p. m. ******/
CREATE DATABASE [LibraryApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryApp', FILENAME = N'C:\Users\Jhon\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\LibraryApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryApp_log', FILENAME = N'C:\Users\Jhon\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\LibraryApp.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryApp]
GO
USE [LibraryApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/07/2021 4:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 5/07/2021 4:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[date_birth] [datetime2](7) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_authors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 5/07/2021 4:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[year] [int] NOT NULL,
	[genre] [nvarchar](50) NOT NULL,
	[number_pages] [int] NOT NULL,
	[author_id] [bigint] NOT NULL,
	[editorial_id] [bigint] NOT NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[editorials]    Script Date: 5/07/2021 4:55:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[editorials](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[telephone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[maximum_books_register] [int] NOT NULL,
 CONSTRAINT [PK_editorials] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_books_author_id]    Script Date: 5/07/2021 4:55:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_books_author_id] ON [dbo].[books]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_books_editorial_id]    Script Date: 5/07/2021 4:55:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_books_editorial_id] ON [dbo].[books]
(
	[editorial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_authors_author_id] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_authors_author_id]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_editorials_editorial_id] FOREIGN KEY([editorial_id])
REFERENCES [dbo].[editorials] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_editorials_editorial_id]
GO
USE [master]
GO
